<app-maintab></app-maintab>

<div style="background-color:#DDFFBB">
<h3>List Income</h3>
<table  class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID.</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Income Date</th>
            <th scope="col">delete data</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let income of listIncome">
            <tr>
                <td scope="row">{{income.id}}</td>
                <td>{{income.category}}</td>
                <td>{{income.amount}}</td>
                <td>{{income.desc}}</td>
                <td>{{income.trxDate  | date}}</td>
                <td><button class="btn btn-danger" (click)="deleteData(income)">X</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>
<h6>Total Income : {{totalIncome}}</h6>
<hr>
<button (click)="addIncome()" class="btn btn-primary">Add Income</button>
</div>

<div style="background-color:#FFB4B4">
<h3>List Expense</h3>
<table  class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID.</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Expense Date</th>
            <th scope="col">delete data</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let expense of listExpense">
            <tr>
                <td scope="row">{{expense.id}}</td>
                <td>{{expense.category}}</td>
                <td>{{expense.amount}}</td>
                <td>{{expense.desc}}</td>
                <td>{{expense.trxDate | date}}</td>
                <td><button class="btn btn-danger" (click)="deleteData(expense)">X</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>
<h6>Total Income : {{totalExpense}}</h6>
<hr>
<button (click)="addExpense()" class="btn btn-primary">Add Expense</button>
</div>