<app-maintab></app-maintab> 

<p>List of Transaction</p>
<table>
<tr><td>From </td><td>: <input type="date" name="" id=""></td></tr> 
<tr><td>To </td><td>: <input type="date" name="" id=""></td></tr>
</table>
<table  class="table" border="1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID.</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let trx of listTransaction">
            <tr>
                <td scope="row">{{trx.id}}</td>
                <td>{{trx.category}}</td>
                <td>{{trx.amount}}</td>
                <td>{{trx.desc}}</td>
                <td>{{trx.incomeDate}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>